$color-green: #649374;
$color-red: #fd6f63;
$color-white: #fff;
$color-black: #000;
$color-grey-light: #f5f7fb;
$color-grey-medium: #e5e5e9;
$color-grey-dark: #a6a9b1;
$color-text: #4a4a5a;

$text-ti: 10px;
$text-xs: 12px;
$text-sm: 14px;
$text-md: 18px;
$text-lg: 24px;
$text-xl: 50px;

$border-radius: 7px;

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);


