.link {
  color: $color-red;
  font-weight: 600;
  transition: color 0.2s ease;

  &:hover {
    color: $color-red;
  }

  &--inherit {
    color: inherit;
  }

  &--underline {
    text-decoration: underline;
  }
}
