.button {
  display: inline-block;
  border: 0;
  font-size: $text-sm;
  line-height: 36px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:disabled {
    opacity: 0.7;
  }

  &--primary,
  &--secondary {
    padding: 0 25px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 5px;
    // Fix size problem caused by gradient border button
    background-origin: border-box;
  }

  &--primary {
    background-color: $color-red;
    color: $color-white;
  }

  &--depth {
    transition: all 0.2s ease-out;
    box-shadow: 0 7px 30px rgba(0, 0, 0, 0.25);
  
    &:hover {
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
      transform: translateY(2px);
    }
  }

  &:not(&--depth) {
    transition: all 0.4s ease;
  
    &:hover {
      background-color: darken($color-red, 6);
    }
  }

  &--secondary {
    color: $color-red;
    border-color: $color-red;
  
    &:hover {
      color: $color-red;
      border-color: $color-red;
    }
  }

  &--tertiary {
    position: relative;
    color: $color-red;
    margin-right: 32px;

    svg {
      position: absolute;
      top: 50%;
      transform: translate(12px, -50%);
      stroke: $color-red;
      transition: transform 0.24s ease;
    }

    &:hover {
      color: $color-red;

      svg {
        stroke: $color-red;
        transform: translate(16px, -50%);
      }
    }
  }

  &--large {
    line-height: 48px;
    padding: 0 30px;
  }
}
